.menu {
  list-style: none;
  display: flex;
  margin-top: 32px;
  justify-content: space-between;
}

.menu li {
  font-weight: 600;
  font-size: 32px;
  color: #2F80ED;
}

.menu a {
  text-decoration: none;
  color: #2F80ED;
  padding: 5px 25px 10px;
  border-radius: 13px;
  transition: all 0.2s ease;
}

.menu a:hover {
  text-decoration: none;
  color: white;
  background-color: #2F80ED;
  transition: all 0.2s ease;
}

.menu .current {
  color: white;
  background-color: #2F80ED;
}

@media (max-width: 1280px) {
  .menu li {
    font-size: 28px;
  }
}

@media (max-width: 1000px) {
  .menu li {
    font-size: 24px;
  }
}

@media (max-width: 800px) {
  .menu li {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .menu {
    height: 200px;
    flex-direction: column;
  }
  .menu li {
    align-self: center;
  }
}
